<div class="main-section">
  <div class="main-section-header">

    <div class="task-top-bar">
      <div class="task-section-header-title">
        {{input
          type='text'
          placeholder=(t 'templates.goal.name_placeholder')
          value=data.name
          class='task-section-header-title-field'
        }}
      </div>

      <div class="flex-auto"></div>

      <div class="task-top-bar-btn">
        <button type="button"
          class="btn btn-clear {{if showTaskNames 'active'}}"
          onclick={{action 'toggleShowTaskNames'}}>
          {{capitalize (t 'templates.goal.show_titles')}}
        </button>
      </div>
      <div class="task-top-bar-btn">
        <button type="button" class="btn btn-clear" onclick={{route-action 'deleteGoal'}}>
          {{capitalize (t 'actions.delete')}}
        </button>
      </div>
      <div class="task-top-bar-btn">
        <button
          type="button"
          onclick={{action 'toggleFilesPanel'}}
          class="btn btn-clear {{if filesPanelIsVisible 'active'}}">
          {{capitalize (t 'models.attachment.other')}}
        </button>
      </div>
    </div>

    {{tasks-bar
      model=model
      tasks=tasks
      currentTask=currentTask
      action=(route-action 'reorderTasks')
      showTaskNames=showTaskNames
    }}
  </div>

  {{outlet}}
</div>

{{#if filesPanelIsVisible}}
  {{#files-panel
    model=model
    deleteAttachment=(route-action 'deleteAttachment')
    close=(action 'closeFilesPanel')
  }}
    {{#pl-uploader
      for="upload-file"
      name="panel-right-file-uploader"
      multipart=true
      multiple=true
      runtimes="html5"
      no-duplicates=true
      unique-names=true
      onInitOfUploader="onInitOfUploader"
      onfileadd="uploadImage" as |queue dropzone|
    }}
      <div class="dropzone-container" id={{dropzone.id}}>
        {{#if dropzone.active}}
          {{#if dropzone.valid}}
            <div class="dropzone file-over"></div>
          {{else}}
            <div class="dropzone">
              Invalid
            </div>
          {{/if}}
        {{else if queue.length}}
          <div class="dropzone">
            <div class="dropzone-loader" style="height:{{queue.progress}}px"></div>
            <div class="dropzone-loader-percent">
              {{queue.progress}}%
            </div>
          </div>
        {{else}}
          {{#if dropzone.enabled}}
            <div class="dropzone">
              <a class="dropzone-link" id="upload-file"></a>
            </div>
          {{/if}}
        {{/if}}
      </div>
    {{/pl-uploader}}
  {{/files-panel}}
{{/if}}
