<div class="main-section">
  <div class="main-section-header">

    <div class="task-top-bar">
      <span class="task-section-header-title">
        {{model.name}}
      </span>

      <div class="flex-auto"></div>

      <div class="task-top-bar-btn">
        <span>Mode</span>
      </div>
      <div class="task-top-bar-btn">
        <span>Delete</span>
      </div>
      <div class="task-top-bar-btn">
        <button
          type="button"
          onclick={{action 'toggleFilesPanel'}}
          class="button {{if filesPanelIsVisible 'active'}}">
          Files
        </button>
      </div>
    </div>

    {{tasks-bar
      model=model
      tasks=tasks
      currentTask=currentTask
      action=(route-action 'reorderTasks')
    }}
  </div>

  {{outlet}}
</div>

{{#if filesPanelIsVisible}}
  {{#files-panel
    model=model
    close=(action 'closeFilesPanel')
  }}
    {{#pl-uploader
      for="upload-file"
      name="panel-right-file-uploader"
      multipart=true
      multiple=true
      runtimes="html5"
      no-duplicates=true
      unique-names=true
      onInitOfUploader="onInitOfUploader"
      onfileadd="uploadImage" as |queue dropzone|
    }}
      <div class="dropzone-container" id={{dropzone.id}}>
        {{#if dropzone.active}}
          {{#if dropzone.valid}}
            <div class="dropzone file-over"></div>
          {{else}}
            <div class="dropzone">
              Invalid
            </div>
          {{/if}}
        {{else if queue.length}}
          <div class="dropzone">
            <div class="dropzone-loader" style="height:{{queue.progress}}px"></div>
            <div class="dropzone-loader-percent">
              {{queue.progress}}%
            </div>
          </div>
        {{else}}
          {{#if dropzone.enabled}}
            <div class="dropzone">
              <a class="dropzone-link" id="upload-file"></a>
            </div>
          {{/if}}
        {{/if}}
      </div>
    {{/pl-uploader}}
  {{/files-panel}}
{{/if}}
