<div class="main-section">
  <div class="main-section-header">

    <div class="task-top-bar">
      <span class="task-section-header-title">
        {{model.name}}
      </span>

      <div class="flex-auto"></div>

      <div class="task-top-bar-btn">
        <span>Mode</span>
      </div>
      <div class="task-top-bar-btn">
        <span>Delete</span>
      </div>
      <div class="task-top-bar-btn">

        {{#unless filesPanelIsVisible}}
          <button type="button" onclick={{action 'openFilesPanel'}}>Files</button>
        {{/unless}}

      </div>
    </div>

    {{tasks-bar
      model=model
      tasks=tasks
      currentTask=currentTask
      action=(route-action 'reorderTasks')
    }}
  </div>

  {{outlet}}
</div>

{{#files-panel
  model=model
  close=(action 'closeFilesPanel')
}}
  {{#pl-uploader
    for="upload-file"
    name="panel-right-file-uploader"
    multipart=true
    multiple=true
    runtimes="html5"
    no-duplicates=true
    unique-names=true
    onInitOfUploader="onInitOfUploader"
    onfileadd="uploadImage" as |queue dropzone|
  }}
    <div class="dropzone" id={{dropzone.id}}>
      {{#if dropzone.active}}
        {{#if dropzone.valid}}
          Drop to upload
        {{else}}
          Invalid
        {{/if}}
      {{else if queue.length}}
        Uploading {{queue.length}} files. ({{queue.progress}}%)
      {{else}}
        <h4>Upload Images</h4>
        <p>
          {{#if dropzone.enabled}}
            Drag and drop images onto this area to upload them or
          {{/if}}
          <a id="upload-file">Add an Image.</a>
        </p>
      {{/if}}
    </div>
  {{/pl-uploader}}
{{/files-panel}}
