<div class="files-panel-header">
  <div class="flex">
    <h2 class="files-panel-title">Files</h2>
    <button type="button" onclick={{close}}>X</button>
  </div>

  {{yield}}
</div>

<div class="files-panel-main">
  <div class="files-list">
    {{#each sortedAttachments as |attachment|}}
      <div class="files-list-item">
        <a href={{attachment.fileUrl}} target="_blank">
          {{#if attachment.isImage}}
            <img src="{{attachment.thumbUrl}}">
            <br>
          {{/if}}
          {{attachment.fileName}}
        </a>
        <button type="button" onclick={{action 'deleteAttachment' attachment}}>X</button>
      </div>
    {{/each}}
  </div>
</div>
