<div class="files-panel-header">
  <div class="flex mb2">
    <div class="flex-auto">
      <div class="as-h2">
        {{capitalize (t 'templates.files_panel.title')}}
      </div>
    </div>

    <button type="button" onclick={{close}}>
      {{inline-svg "assets/images/icons/cross.svg"}}
    </button>
  </div>

  {{yield}}
</div>

<div class="files-panel-main">
  <div class="attachments">
    {{#each sortedAttachments as |attachment|}}
      <div class="attachment">

        <a href={{attachment.fileUrl}} target="_blank" class="attachment-link clearfix">
          <div class="attachment-file">
            {{#if attachment.isImage}}
              <img src="{{attachment.thumbUrl}}">
            {{/if}}
          </div>

          <div class="flex items-center">
            <div class="attachment-name flex-auto truncate">
              {{attachment.fileName}}
            </div>

            <button type="button" onclick={{action 'deleteAttachment' attachment}} class="attachment-button">
              {{inline-svg "assets/images/icons/cross.svg"}}
            </button>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>
