<div class="files-panel-header">
  <div class="flex">
    <div class="flex-auto">
      <div class="as-h2">Files</div>
    </div>

    <button type="button" onclick={{close}}>
      {{inline-svg "assets/images/icons/cross.svg"}}
    </button>
  </div>

  {{yield}}
</div>

<div class="files-panel-main">
  <div class="files-list">
    {{#each sortedAttachments as |attachment|}}
      <div class="files-list-item">
        <a href={{attachment.fileUrl}} target="_blank">
          {{#if attachment.isImage}}
            <img src="{{attachment.thumbUrl}}">
            <br>
          {{/if}}
          {{attachment.fileName}}
        </a>
        <button type="button" onclick={{action 'deleteAttachment' attachment}}>
          {{inline-svg "assets/images/icons/cross.svg"}}
        </button>
      </div>
    {{/each}}
  </div>
</div>
