<div class="files-panel-header">
  <span class="files-panel-title">Files</span>

  <button type="button" onclick={{close}}>Close</button>
</div>

<ol class="files-list">
  {{#each sortedAttachments as |attachment|}}
    <li>
      <a href={{attachment.fileUrl}} target="_blank">
        {{#if attachment.isImage}}
          <img src="{{attachment.thumbUrl}}">
        {{/if}}
        <br>
        {{attachment.fileName}}
      </a>
    </li>
  {{/each}}
</ol>

{{yield}}
