<div class="small-tasks">
  {{#each model.goals as |goal|}}
    {{#unless goal.isNew}}
      <div class="small-task">

        <div class="checkbox">
          <input id="{{goal.id}}" type="checkbox" class="checkbox-input">
          <label for="{{goal.id}}" class="checkbox-label"></label>
        </div>

        {{#link-to 'goal' model.id goal.id class="small-task-title"}}
          {{goal.name}}
        {{/link-to}}

      </div>
    {{/unless}}
  {{/each}}

  {{#if showGoalForm}}
    {{goal-form
      short=true
      model=newGoal
      action=(route-action 'saveGoal' newGoal)
      cancel=(route-action 'cancelCreateGoal' newGoal)
    }}
  {{else}}
    <button type="button" onclick={{route-action "createGoal"}}>+ Goal</button>
  {{/if}}
</div>
