<div class="main-section-body">
  <div class="task-title-saving">
    {{#if isSaving}}
      SAVING...
    {{/if}}
  </div>

  <div class="task-worker-select">
    {{#power-select
      searchEnabled=false
      options=users
      selected=data.user
      placeholder=(t 'models.attributes.task.unassigned')
      onchange=(action 'assignUser') as |user|
    }}
      {{user.username}}
    {{/power-select}}
  </div>

  {{input
    type="text"
    placeholder=(t 'models.attributes.task.name')
    class="assignment-title-field"
    autofocus=true
    value=data.name
  }}

  {{#if showDescriptionTextarea}}
    {{autosize-textarea
      placeholder=(capitalize (t 'models.attributes.task.description'))
      class="assignment-description-field"
      value=data.descriptionMarkdown
      focusOut=(action 'disableDescriptionEdit')
      change=(action 'updateDescription' value='target.value')
      keyDown=(action 'enableDescriptionEdit')
    }}
  {{else}}
    <div class="assignment-description" ondblclick={{action 'enableDescriptionEdit'}}>
      {{{data.descriptionHtml}}}
    </div>
  {{/if}}
</div>
