<div class="main-section-body">
  <div class="task-title-saving">
    {{#if isSaving}}
      SAVING...
    {{/if}}
  </div>

  <div class="flex mb3">
    <div class="input-group mr2">
      <div class="mb1">
        {{capitalize (t 'actions.assign')}}
      </div>

      {{#power-select
        searchEnabled=false
        options=users
        selected=data.user
        placeholder=(t 'models.attributes.task.unassigned')
        onchange=(action 'assignUser') as |user|
      }}
        {{user.username}}
      {{/power-select}}
    </div>

    {{#if showDependencies}}
      <div class="input-group">
        <div class="mb1">
          <div class="dependencies">
            <div class="mb1">
              {{capitalize (t 'templates.task.dependencies')}}
            </div>

            <div class="flex">

              {{#if elegibleDependencies}}
                {{#basic-dropdown
                  class='depdency-dropdown mr1'
                  renderInPlace=true as |dropdown|
                }}
                  {{#each elegibleDependencies as |dependency|}}
                    <div id="dependency-{{dependency.task.id}}" onclick={{action 'addDependency' dependency dropdown}} class="dropdown-menu-item">
                      <button type="button">
                        {{dependency.text}}
                      </button>
                    </div>
                  {{/each}}
                {{else}}
                  {{capitalize (t 'templates.task.add_dependency')}}
                {{/basic-dropdown}}
              {{/if}}

              <div class="dependencies">
                {{#each dependencies as |dependency|}}
                  <div class="dependency">
                    <div class="dependency-task-title">
                      {{dependency.text}}
                    </div>

                    {{#if dependency.done}}
                      <span class="done-symbol"></span>
                    {{/if}}

                    <button type="button" onclick={{route-action 'removeDependency' dependency.task}} class="dependency-action">
                      {{inline-svg "assets/images/icons/cross.svg"}}
                    </button>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>

  {{input
    type="text"
    placeholder=(t 'models.attributes.task.name')
    class="assignment-title-field"
    autofocus=true
    value=data.name
  }}

  {{#if showDescriptionTextarea}}
    {{autosize-textarea
      placeholder=(capitalize (t 'models.attributes.task.description'))
      class="assignment-description-field"
      value=data.descriptionMarkdown
      focusOut=(action 'disableDescriptionEdit')
      change=(action 'updateDescription' value='target.value')
      keyDown=(action 'enableDescriptionEdit')
    }}
    <button type="button" onclick={{action 'disableDescriptionEdit'}} class="button">
      {{capitalize (t 'actions.simple_save')}}
    </button>
  {{else}}
    <div class="assignment-description" ondblclick={{action 'enableDescriptionEdit'}}>
      {{{data.descriptionHtml}}}
    </div>
    <button type="button" onclick={{action 'enableDescriptionEdit'}} class="button">
      {{capitalize (t 'templates.task.edit_description')}}
    </button>
  {{/if}}

  <div class="comments">
    <div class="as-h3">
      {{capitalize (t 'models.comment.other')}}:
    </div>

    {{#each comments as |comment|}}
      {{task-comment
        comment=comment
      }}
    {{/each}}

    {{comment-form
      action=(route-action 'saveComment')
    }}
  </div>
</div>
