<div class="task-section-main">
  <div>
    {{#if isSaving}}
      SAVING...
    {{/if}}
  </div>

  <span class="task-title">
    {{buf-field data=data field="name"}}
  </span>

  <span class="task-worker">
    {{#power-select
      searchEnabled=false
      options=users
      selected=data.user
      placeholder=(t 'models.attributes.task.unassigned')
      onchange=(action 'assignUser') as |user|
    }}
      {{user.username}}
    {{/power-select}}
  </span>

  <label for="task-description-field" onclick={{action "enableDescriptionEdit"}}>
    {{t "models.attributes.task.description"}}
  </label>
  {{#if isEditingDescription}}
    <span class="task-description">
      <textarea
        id="task-description-field"
        rows="4"
        value={{data.descriptionMarkdown}}
        onblur={{action "disableDescriptionEdit"}}
        onchange={{action "updateDescription" value="target.value"}}>
      </textarea>
    </span>
  {{else}}
    <label for="task-description-field" class="task-description" onclick={{action 'enableDescriptionEdit'}}>
      {{{model.descriptionHtml}}}
    </label>
  {{/if}}
</div>
